.currentweapon{
  width: 100px;
  height: 100px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-left: 20px;
  margin-top: 20px;
 
}

.currentenemy{
  width: 150px;
  height: 200px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-left: 300px;
  margin-top: 20px;
 
}
.gamewindow{
   width: 1000px;
  height: 700px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
